#header {

	width: 15%;
	margin-left: 85%;
	border-width: 3px; border-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	display: flex;
	justify-content: flex-end; 
	justify-content: space-around;
	align-items: center;
	align-content: space-between;	
}

#main {
	display: flex;
	flex-direction: column;
	border-width: 3px; border-style: solid;
	margin-top: auto;
	margin-bottom: auto;
	height: 400px;
	align-content: space-around; 
	align-items: center;
	justify-content: center; 	
}

#google {
	display: flex;
	margin-bottom: 1%;
}

#search {
	display: flex;
	margin-bottom: 1%;
	order-width: 3px; border-style: solid;
	border-color: red;
	width: 100%;
	align-items: center;	
}

#lucky {

	display: flex;
	justify-content: center;
}

#recherche {
	display: flex;
	width: 350%
	order-width: 3px; border-style: solid;
}