#header {

	width: 15%;
	margin-left: 85%;
	border-width: 3px; border-style: solid;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	display: flex;
	justify-content: flex-end; 
	justify-content: space-around;
	align-items: center;
	align-content: space-between;	
}
#main {
	border-width: 3px; border-style: solid;
	align-content: center;
	margin-top: auto;
	margin-bottom: auto;
	height: 400px;
}
#google {
	display: flex;
	justify-content: center;
	align-self: center;
}
#search {
	display: flex;
	justify-content: center;
}
#lucky {
	display: flex;
	justify-content: center;
}